<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/hlogo.png' />

    <title>{{ page_title }} / Management</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/pnotify.custom.min.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main_css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main_css/bootstrap.min.css"/>

    <link href="/static/pnotify.custom.min.css" rel="stylesheet">
    <link href="/static/main_css/surveyeditor.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <img id="loading" src="/static/images/loading.gif" style="position:absolute;z-index:9999;width:100%;display:none;opacity:0.5">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add New Project</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">
                <label>Project Identifier</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-project-diagram"></i></span>
                  <input name="project_identifier" type="text" class="form-control" placeholder="Project Identifier">
                </div>
              </div>
              <div class="col-md-9">
                <label>Project Explanation</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-comments"></i></span>
                  <input name="project_exp" type="text" class="form-control" placeholder="Project Explanation">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button onclick="create_new_project()" type="button" class="btn btn-default">Save New Project</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="main">{{ page_title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/main">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for p in pages %}
                    <li><a href="{{ p[1] }}">{{ p[0] }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ session.get("FIRSTNAME") }} {{ session.get("LASTNAME") }}</a></li>
            <li><a href="/logout" role="button">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Welcome to {{ page_title }}</h2>
        <p>You are welcome to the management interface. This field allows you to configure the system settings.</p>
      </div>

        <div class="row">
            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                {% if pending_count > 0 %}
                  <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users&nbsp;&nbsp;&nbsp;<span style="background-color: #920a31;" class="badge">{{ pending_count }}</span></a></li>
                {% else %}
                  <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
                {% endif %}
                <li role="presentation"><a href="#surveys" aria-controls="surveys" role="tab" data-toggle="tab">Surveys</a></li>
                <li role="presentation"><a href="#analytics" aria-controls="analytics" role="tab" data-toggle="tab">Analytics</a></li>
                <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
                <li role="presentation"><a href="#pages" aria-controls="pages" role="tab" data-toggle="tab">Pages</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="users">
                  {% if pending_count > 0 %}
                    <div class="row">
                      <div class="col-md-12">
                        <h3 style="color: #0a928f">Pending Activating</h3>
                        <table class="table table-striped table-bordered" style="width: 100%;" id="pending_accounts_table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Surname</th>
                              <th>E-Mail</th>
                              <th>Majority</th>
                              <th>Country</th>
                              <th>City</th>
                              <th>Hospital</th>
                              <th>Role</th>
                              <th>Project</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for us in pending_list %}
                              <tr>
                                <td>{{ us[0] }}</td>
                                <td>{{ us[1] }}</td>
                                <td>{{ us[2] }}</td>
                                <td>{{ us[3] }}</td>
                                <td>{{ get_country_name(us[4]) }}</td>
                                <td>{{ us[5] }}</td>
                                <td>{{ us[6] }}</td>
                                <td>{{ us[7] }}</td>
                                <td>
                                  <select class="selectpicker" data-width="fit" multiple id="{{ us[8] }}_project">
                                    {% for pr in projects %}
                                      {% if pr[3] == "Active" %}
                                        <option value="{{ pr[0] }}" data-subtext="{{ pr[2] }}">{{ pr[1] }}</option>
                                      {% endif %}
                                    {% endfor %}
                                  </select>
                                </td>
                                <td>
                                  <button onclick="pendingAccountManager('enable', '{{ us[8] }}')" class="btn btn-info" type="button">Enable</button>
                                  <button onclick="pendingAccountManager('delete', '{{ us[8] }}')" class="btn btn-danger" type="button">Delete</button>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  {% endif %}
                  <div class="row">
                      <div class="col-md-12">
                        <h3 style="color: #0a928f">Users</h3>
                        <table class="table table-striped table-bordered" style="width: 100%;" id="all_users">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Surname</th>
                              <th>E-Mail</th>
                              <th>Majority</th>
                              <th>Country</th>
                              <th>City</th>
                              <th>Hospital</th>
                              <th>Role</th>
                              <th>Project</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for us in all_users %}
                              {% if us[9] == "Deleted" %}
                              <tr class="deleted_account_tr">
                              {% else %}
                              <tr>
                              {% endif %}
                                <td class="users_td">{{ us[0] }}</td>
                                <td class="users_td">{{ us[1] }}</td>
                                <td class="users_td">{{ us[2] }}</td>
                                <td class="users_td">{{ us[3] }}</td>
                                <td class="users_td">{{ get_country_name(us[4]) }}</td>
                                <td class="users_td">{{ us[5] }}</td>
                                <td class="users_td">{{ us[6] }}</td>
                                <td><label style="color: #920a82;" class="users_td">{{ us[7] }}</label></td>
                                <td>
                                  {% for pr in us[10].split(",") %}
                                    <button class="btn btn-default users_td" type="button">{{ pr }}</button>
                                  {% endfor %}
                                </td>
                                <td>
                                  {% if us[9] == "Enabled" %}
                                    <button style="width: 100%;" onclick="userStatusChange('{{ us[8] }}', 'disable')" class="btn btn-danger" type="button">Disable</button>
                                    <button style="width: 100%;" onclick="$(location).attr('href', '/modify-user?name={{ us[8] }}')" class="btn btn-warning" type="button">Edit</button>
                                  {% elif us[9] == "Disabled" %}
                                    <button style="width: 100%;" onclick="userStatusChange('{{ us[8] }}', 'enable')" class="btn btn-info" type="button">Enable</button>
                                    <button style="width: 100%;" onclick="$(location).attr('href', '/modify-user?name={{ us[8] }}')" class="btn btn-warning" type="button">Edit</button>
                                  {% else %}
                                    <button onclick="userStatusChange('{{ us[8] }}', 'activate')" class="btn btn-info" type="button" style="width: 100%;">Activate</button>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="surveys">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 style="color: #0a928f">New Surveys</h3>
                      <div class="row">
                        <div class="col-md-4">
                          <label>Survey Name</label>
                          <div class="input-group input-group-lg" style="margin-top: 5px; width: 100%;">
                            <input id="survey_name" type="text" class="form-control" placeholder="Survey Name">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label>Survey Project</label>
                          <div class="input-group input-group-lg" style="margin-top: 5px;">
                            <select class="selectpicker" multiple id="survey_project">
                              <option value="All">All</option>
                              {% for pr in projects %}
                                {% if pr[3] == "Active" %}
                                  <option value="{{ pr[0] }}" data-subtext="{{ pr[2] }}">{{ pr[1] }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label>Survey Image</label>
                          <div class="input-group input-group-lg" style="margin-top: 5px; width: 100%;">
                            <label class="btn btn-lg btn-default btn-file" style="width: 100%;">
                              <label id="pic_browse">Browse</label> <input onchange="get_file_name(this.value.replace(/\\/g, '/').replace(/.*\//, ''))" id="survey_pic" type="file" style="display: none;">
                            </label>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Survey Explanation</label>
                          <div class="input-group input-group-lg" style="margin-top: 5px; width: 100%;">
                            <textarea id="survey_exp" class="form-control" placeholder="Survey Explanation" style="height: 200px;"></textarea>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Survey Body</label>
                          <div id="surveyEditorContainer"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 3%; margin-bottom: 5%;">
                    <div class="col-md-12">
                      <div class="text-center">
                          <button onclick="save_new_survey()" class="btn btn-lg btn-default">Save Survey</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="analytics">...</div>
                <div role="tabpanel" class="tab-pane" id="projects">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 style="color: #0a928f">Projects</h3><h4><button class="btn btn-default" data-toggle="modal" data-target="#myModal">New Project</button></h4>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped table-bordered" style="width: 100%;" id="all_projects">
                        <thead>
                          <tr>
                            <th>Project Name</th>
                            <th>Detail</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for pr in projects %}
                            <tr>
                              <td>{{ pr[1] }}</td>
                              <td>{{ pr[2] }}</td>
                              {% if pr[3] == "Active" %}
                                <td><button onclick="projectStatusChange('{{ pr[0] }}', 'Passive')" style="width: 100%" class="btn btn-info">{{ pr[3] }}</button></td>
                              {% else %}
                                <td><button onclick="projectStatusChange('{{ pr[0] }}', 'Active')" style="width: 100%" class="btn btn-danger">{{ pr[3] }}</button></td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="pages">...</div>
              </div>
            </div>
        </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/main_js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/pnotify.custom.min.js"></script>
    <script src="/static/main_js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/main_js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/main_js/dataTables.bootstrap.min.js"></script>
    <script src="/static/main_js/uam.js"></script>
    <script src="/static/pnotify.custom.min.js"></script>
    <script src="/static/main_js/knockout-min.js"></script>
    <script src="/static/main_js/survey.ko.min.js"></script>
    <script src="/static/main_js/surveyeditor.min.js"></script>
    <script>

        $('.table').DataTable({
          "aaSorting": []
        });

        var editorOptions = {"showJSONEditorTab": false, "isAutoSave": false, "showPropertyGrid": false}
        var survey = new SurveyEditor.SurveyEditor("surveyEditorContainer", editorOptions);
        $("div.svd_commercial_container").css("display", "none");

        function get_file_name(x) {
            $("#pic_browse").text(x);
            $("#pic_browse").css("color", "blue");
        }

        function save_new_survey() {
            var form = new FormData();
            form.append("SURVEY_NAME", $("#survey_name").val());
            form.append("SURVEY_EXP", $("#survey_exp").val());
            form.append("SURVEY_PROJECT", $("#survey_project").val().join(','));
            form.append("SURVEY_PIC", document.getElementById("survey_pic").files[0]);
            form.append("SURVEY_TEXT", survey.text);
            form.append("PROCESS", "SaveNewSurvey");

            $.ajax({
              type: "POST",
              url: "/admin-components",
              data: form,
              dataType: "json",
              processData: false,
              contentType: false,
              success: function(data) {
                if ( data.STATUS == "OK" ) {
                    new PNotify({
                        title: 'User Details Changed.',
                        text: data.MESSAGE,
                        type: 'success'
                      });
                    $(location).attr('href', '/management');
                  } else {
                    new PNotify({
                        title: 'Oops !!! Something went wrong.',
                        text: data.ERROR,
                        type: 'error'
                      });
                  }
              }
            });
        }

        $(document).on({
            ajaxStart: function() { $('#loading').css("display","block"); },
            ajaxStop: function() { $('#loading').css("display","none"); }
        });


    </script>
  </body>
</html>
